
  <div class="landing_page_title d-flex justify-content-center radio-canada-big"> MEDREM </div>
  <div class="landing_page_text d-flex justify-content-center quicksand"> Keep the rhythm of your health - never miss a dose! </div>
  <%= render "homepage/section" %>
