
  <div class="landing_page_title d-flex justify-content-center"> MEDREM </div>
  <div class="landing_page_text d-flex justify-content-center"> Keep the rhythm of your health – never miss a dose! </div>
