<div id="<%= dom_id reminder %>">
  <p>
    <strong>Sent at:</strong>
    <%= reminder.sent_at %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= reminder.message %>
  </p>

  <p>
    <strong>Prescription:</strong>
    <%= reminder.prescription_id %>
  </p>

</div>
