<div id="reminders">
    
  <h1>All Reminders</h1>

  <%= month_calendar events: @reminders, attribute: :sent_at do |reminder| %>
    <%#= link_to reminder.message, reminder_path(reminder) %>
<!---->  <% end %>

</div>
