
<%= render @reminder %>

<div>
  <%= link_to "Edit This Reminder", edit_reminder_path(@reminder) %> |
  <%= link_to "Delete This Reminder", @reminder, method: :delete %>
</div>

<%= link_to "Back To Medication", medication_path(@medication.id) %>
