<!--<div id="medications">
  <h1>Medications</h1>
  <%#= link_to  "+ Add New Medication", new_medication_path , method: :get, class: "btn btn-dark custom_button_color" %> -->
<!--
  <div class="row">
    <%# @medications.each do |medication| %>-->
<!--      <div class="col-sm-6 mb-4 mb-sm-0 mt-4">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title"> <strong> <%#= medication.name%> </strong> </h5>
            <p class="card-text"><%#= medication.description%> </p>
            <%#= link_to 'Show This Medication', medication_path(medication), method: :get, class: "btn btn-dark custom_button_color"  %>-->
<!--          </div>
        </div>
      </div>
    <%# end %>-->
<!--  </div>
</div>
-->

<div id="medications" class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Medications</h1>
    <%= link_to "+ Add New Medication", new_medication_path, class: "btn btn-dark custom_button_color" %>
  </div>

  <div class="row">
    <% @medications.each do |medication| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><strong><%= medication.name %></strong></h5>
            <p class="card-text flex-grow-1"><%= medication.description %></p>
            <%= link_to 'Show This Medication', medication_path(medication), class: "btn btn-dark custom_button_color mt-auto" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
