<%= render @medication %>

<div>
  <%= button_to "Edit This Medication", edit_medication_path(@medication), method: :get %>
  <%= button_to "Delete This Medication", @medication, method: :delete %>
</div>
<div>
    <%= link_to "Back To Medications", medications_path %>
</div>
