<%= render @medication %>

<div>
  <%= link_to "Edit this medication", edit_medication_path(@medication) %>
  <%= button_to "Delete this medication", @medication, method: :delete %>
</div>
<div>
    <%= link_to "Back to medications", medications_path %>
</div>
