.landing_page_title{
  font-size: 100px;
  color:  #71C4A2;
}
.radio-canada-big {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.landing_page_text {
  font-size: 40px;
}



  /* Additional CSS to ensure footer stays at the bottom */
   html, body {
    height: 100%;
  }

  #page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #content-wrap {
    flex: 1;
  }

  /* Additional css for the section */

  .how-to-use {
    padding: 50px 0;
  }


  .how-to-use .card-header {
    background-color: #598272 ;
    color: #fff;
    font-size: 40px;
    text-align: center;
  }

  .how-to-use .card-body {
    height: 25vh;
    text-align: center;
    font-size: 20px;
    background-color: #A6C0B6 ;
    color: white
  }

  .color_for_nav{
    background-color: #598272 ;
    color: #FFFFFF;
  }

  .quicksand{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .card-body h5{
    font-size: x-large;
    color: black;
    margin-bottom: 30px;
  }
  